body {
    background-color: #f6f6f6;
}

.carousel-indicators>li {
    width: 5px;
    border-radius: 50%;
}

.dropdown-menu {
    padding: 30px;
    min-width: 30rem !important;
}

.img-logo {
    width: 100%;
}

.button-login {
    border: none;
    width: 128px;
    height: 32px;
    justify-content: center;
    text-transform: uppercase;
    background-color: #00a546;
    color: #fff;
}

.navbar-text {
    padding: 15px;
    width: 130px;}

.card {
    height: 450px;
    background-color: white;
}

.card-img {
    width: 100%;

}

.card-heading {
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
}

.card-desc {
    padding: 10px;
    font-size: 15px;
}

.heading-1 {
    margin-left: 20px;
}

.col-md-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.images-container {
    padding: 20px;
}

.carousel-caption{
    color: black;

}

@media only screen and (max-width: 600px) {
    .col-md-2 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card {
        height: 500px;
        background-color: white;
    }
  }